<app-search></app-search>
<app-gifs ></app-gifs>
<br>
<br>
<div class="footer container padding3"  >
<div>
<div class="col-lg-6 col-sm-12 floatleft col-sm-textcenter ">
    <div class="padding5 col-lg-7 col-sm-12 padding5" >
        <Div class="Heading padding3 col-sm-textcenter"> Sign up and get free content every week </Div>
        <div >
        <input class="TextBox  col-lg-12 "  type="text" placeholder="Enter your email..." >
        &nbsp;
        <input class="Button ButtonColor1 col-lg-12" type="submit" value="Submit">
    </div>
    </div>
    
</div>
<div class="col-lg-6 col-sm-12 floatleft ">
    <div class="Heading padding3"> Browse by Categories </div>
        <ul style="list-style: disc;float: left;" >
            <li class=""><a href="#" class="JustLinks Fontwhite" >  Reactions</a> </li>
            <li class=""><a href="#" class="JustLinks Fontwhite" >Entertainment</a></li>
          </ul>

        <ul style="list-style: disc;float: left;" >
            <li class=""><a href="#" class="JustLinks Fontwhite" >Sports</a></li>
            <li class=""><a href="#" class="JustLinks Fontwhite" >Stickers</a></li>
          </ul>
          <ul style="list-style: disc;float: left;">
            <li class=""><a href="#" class="JustLinks Fontwhite" >  Artists</a> </li>
            <li class=""><a href="#" class="JustLinks Fontwhite" >Food</a></li>
          </ul>
          <ul style="list-style: disc;float: left;">
            <li class=""><a href="#" class="JustLinks Fontwhite" >gaming</a></li>
            <li class=""><a href="#" class="JustLinks Fontwhite" >holiday</a></li>
          </ul>
</div>
</div>
</div>
    
  
    