Body{
	color: #222;
	FONT-SIZE: 13px;	
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	background-color:#FFFFff;	
}


/* Font Sizes */
.SmallerText {FONT-SIZE:11px;}
.MediumText {FONT-SIZE:13px;}
.NormalText {FONT-SIZE:15px;}
.NormalTextBig {FONT-SIZE:18px;}
.Heading {FONT-SIZE:22px;}

/* Font color */
.Fontwhite {color: white;}
/* Text Box Style*/	
.TextBox{
	padding:6px 4px;
	border: 1px solid #d7e1e6;
	background-color: #FFFFFF;
	border-radius:3px;
	box-sizing: border-box;
	outline: none;
}
.TextBox:focus{
	/*background-color: #fff;*/
	border: 1px solid #84b6ce;
	outline: none;
}

/* Button Styles */
.Button{
	font-family: 'Open Sans', sans-serif;	
	font-size:14px;	
	border-radius:5px;	
	padding:5px 15px;
	box-sizing:border-box;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	display:inline-block;
	margin:2px;
}
.ButtonSmall{
	font-family: 'Open Sans', sans-serif;	
	font-size:11px;	
	border-radius:5px;	
	padding:2px 8px;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	display:inline-block;
	margin:2px;
}
.ButtonMedium{
	font-family: 'Open Sans', sans-serif;	
	font-size:13px;	
	border-radius:5px;	
	padding:3px 12px;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	display:inline-block;
	margin:2px;
}
.ButtonColor1{
	color:#fff;	
	background-color: #2789e6;
		border:1px solid #003852;	
}
.ButtonColor1:hover{
	color:#fff;	
	background-color: #084361;
	border:1px solid #084361;
	transition:0.3s ease;	
}
.ButtonColor1:active{
	top:1px;
	position:relative;
}

.NormalText {FONT-SIZE:15px;}

/* Padding */
.padding1 {padding:1px; box-sizing:border-box}
.padding3 {padding:3px; box-sizing:border-box}
.padding5 {padding:5px;box-sizing:border-box}
.padding10 {padding:10px;box-sizing:border-box}
.padding15 {padding:15px;box-sizing:border-box}

.floatleft{float:left;}
.floatright{float:right;}

/* Link Btn */
.JustLinks {TEXT-DECORATION: none;}
a.JustLinks:hover{TEXT-DECORATION: underline;}

/* Responsive Div withs for Desktop */
.col-lg-1 {width: 8.333%;}
.col-lg-1a {width: 12.5%;}
.col-lg-2 {width: 16.666%;}
.col-lg-2a {width: 20%;}
.col-lg-3  {width: 25%;}
.col-lg-4  {width: 33.333%;}
.col-lg-5  {width: 41.666%;}
.col-lg-6  {width: 50%;}
.col-lg-7  {width: 58.333%;}
.col-lg-8  {width: 66.666%;}
.col-lg-9  {width: 75%;}
.col-lg-10  {width: 83.333%;}
.col-lg-11  {width: 91.666%;}
.col-lg-12  {width: 100%;}
.col-IMG-Width {width: 250px;}

.col-lg-center { margin:auto;}
.col-lg-marginbottom { margin-bottom:20px;}

/* All Alignments */	
.col-lg-textcenter { text-align:center;}
.col-lg-textleft { text-align:left;}
.col-lg-textright { text-align:right;}
.col-lg-textjustify { text-align:justify;}
.col-lg-displaynone  {display: none;}
.col-lg-displayblock {display: block ;}


@media screen and (max-width:1023px) {
    .col-md-1 {width: 8.333%;}
    .col-md-1a {width: 12.333%;}
    .col-md-2 {width: 16.666%;}
    .col-md-2a {width: 20%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.333%;}
    .col-md-5 {width: 41.666%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.333%;}
    .col-md-8 {width: 66.666%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.333%;}
    .col-md-11 {width: 91.666%;}
    .col-md-12 {width: 100%;}
    .col-md-marginbottom { margin-bottom:10px;}
    .col-md-center { margin:auto; float:none;}
    .col-md-displaynone  {display :none ;}
    .col-md-displayblock {display: block ;}
    .col-md-textcenter { text-align:center;}
    .col-md-textleft { text-align:left;}
    .col-md-textright { text-align:right;}
    .col-md-textjustify { text-align:justify;}
    .col-IMG-Width {width: 350px;}
    }
    @media screen and (max-width:767px) {
    .col-sm-1 {width: 8.333%;}
    .col-sm-1a {width: 12.333%;}
    .col-sm-2 {width: 16.666%;}
    .col-sm-2a {width: 20%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.333%;}
    .col-sm-5 {width: 41.666%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.333%;}
    .col-sm-8 {width: 66.666%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.333%;}
    .col-sm-11 {width: 91.666%;}
    .col-sm-12 {width: 100%;}
    .col-sm-margintop { margin-top:10px;}
    .col-sm-marginbottom { margin-bottom:10px;}
    .col-sm-center { margin:auto; float:none; clear:both;}
    .col-sm-displaynone  {display :none ;}
    .col-sm-displayblock {display: block ;}
    .col-sm-textcenter { text-align:center;}
    .col-sm-textleft { text-align:left;}
    .col-sm-textright { text-align:right;}
    .col-sm-textjustify { text-align:justify;}
    .col-IMG-Width {width: 100%;}
    }