<div class="Header">
   <Div class="Heading Fontwhite padding3" > {{Headers}}</Div>
   <div class="searchBox"  >
    <input   #Gif  class="searchInput"type="text" name="" placeholder="Search">
    <button type="submit"  (click)=Search(Gif.value)> <i class="fa fa-search"></i></button>
</div>
<div>
    <Div class="MediumText Fontwhite padding3" >You can search any gif with our search</Div>
    <Div class="NormalText Fontwhite padding3" > Everything you need for your projects,websites,banners,presentations,magazines and advertising.</Div>
</div>
</div>
